.selector {
  width: 500px;
  float: left;
}

.input-form {
  width: 500px;
  float: right;
}

.submit-reinit {
  margin-top: 50px;
  float: right;
}

.submit {
  background-color: blue;
}

.reinit {
  margin-left: 10px;
}

.exp-assay {
  float: right;
}
