@charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$archive: false;

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: .9rem !important;
  .layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


$primary: #e2011b;
$link: #920209;
$text: #626262;
$code: $primary;
$title-color: $primary;
$dark-color: #ffffff;

$dark-bg-color: #333333;
$dark-bg-hover-color: #555555;
$dark-font-color: $dark-color;
$hero-banner-bg: #d9d9d9;

@if $archive {
  $dark-bg-color: #a8a088;
  $dark-bg-hover-color: #d0cbbf;
  $dark-font-color: #626262;
  $hero-banner-bg: #d0cbbf;
}


$desktop: 1090px;

.home-hero-banner {
  background-color: $hero-banner-bg;
}
/*
 * navbar style
 */
@import "../../node_modules/bulma/sass/utilities/derived-variables";
$custom-colors: ("bgee-inverted": ($dark-bg-color, $dark-color));
//$custom-colors: ("bgee-link": ($link, $dark-color));
//$custom-colors: ("bgee-inverted": ($dark-bg-color, $dark-color), "bgee-link": ($link, $dark-color));
$colors: map-merge($colors, $custom-colors);

@media only screen and (max-width: $desktop) {
  $navbar-background-color: $dark-bg-color;
  $navbar-item-color: $dark-color;
  $navbar-dropdown-arrow: $dark-color;
  .navbar {
    .navbar-burger:hover {
      color: $dark-color !important;
    }
    img.logo {
      width: 99px;
      max-width: 99px;
      height: 40px;
      max-height: 40px;
    }

    .navbar-menu {
      background-color: $dark-bg-color !important;
    }
    .navbar-item.has-dropdown {
      .navbar-link {
        &:hover, &.active  {
          background-color: $dark-bg-hover-color;
          color: $dark-color;
        }
        &::after {
          transition: .3s;
          border-color: $dark-color !important;
        }
      }
      .navbar-dropdown {
        display: none;
        .custom.navbar-item {
          color: $dark-font-color !important;
          &:hover {
            background-color: $dark-bg-hover-color;
            color: $dark-color !important;
          }
        }
      }
      &.is-open {
        .navbar-link {
          background-color: $dark-bg-hover-color;
          color: $dark-color;
          &::after {
            transform: rotate(135deg);
            transition: .3s;
          }
        }
        .navbar-dropdown {
            display: block;
        }
      }
    }
    .navbar-end > a.navbar-item:hover {
      background-color: $text !important;
    }
  }
}

/*
 * END navbar style
 */

/*
 * footer style
 */
$footer-background-color: $dark-bg-color;
$footer-color: $dark-color;
$footer-padding: 1rem;

footer.footer {
  .left-wrapper {
    display: flex;
    a:not(:first-child) {
      margin-left: 15px;
    }
  }
  .right-wrapper a:not(:last-child) {
    margin-right: 15px;
  }
  a {
    color: #ffffff;
    &.image {
      position: relative;
      height: 15px;
      img {
        margin: 0;
        position: absolute;
        top: 50%;
      }
    }
  }
}
@media only screen and (max-width: $desktop) {
  footer.footer {
    & > div {
      flex-direction: column;
      justify-content: normal !important;
    }
    .left-wrapper, .right-wrapper {
      display: flex;
      flex-direction: column;
    }

    .left-wrapper a:not(:first-child) {
      margin-left: 0;
      margin-top: 10px;
    }
    .right-wrapper a {
      margin-top: 10px;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/*
 * END footer style
 */
.notification {
  margin-bottom: 0 !important;
}

div.static-section > *:not(:first-child) {
  margin-top: .7rem;
}
.title.gradient-underline {
  margin: 1rem 0 !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px #e2011b solid;
  -webkit-border-image: linear-gradient(to right, $title-color 70%,rgba(146,2,9,0));
  border-image: linear-gradient(to right, $title-color 70%,rgba(146,2,9,0));
  border-image-slice: 1;
}

a.internal-link, a.external-link, a.mail-link {
  text-decoration: underline;
}
a.external-link {
  background-position: right center;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent,transparent), url(/static/img/external_link.png);
  background-size: 9px;
  padding-right: 13px;
}


ul.unordered {
  list-style-type: disc;
}
ol.ordered, ul.unordered {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
  li:not(:first-child) {
    margin-top: 10px;
  }
}

div.card.custom-card {
  box-shadow: none;
  cursor: pointer;
  padding: .5rem 0;
  &:hover {
    box-shadow: 0 0.125em 0.25em rgba(10,10, 10, 1/3);
  }
  .card-content {
    padding-bottom: 0;
  }
  .card-image {
    display: flex;
    justify-content: center;
  }
  .card-title {
    color: $title-color;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
  }
}
div.card.species {
  cursor: pointer;
  padding: .5rem 0 0;
  width: 126px;
  &:hover {
    box-shadow: 0 0 1em -0.125em rgba(146, 2, 9, .75)
  }
  .card-image {
    display: flex;
    justify-content: center;
  }
}
.grid-species {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(126px, 1fr) );
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  .center-in-grid {
    align-self: center;
    justify-self: center;
  }
}

code {
  border: 1px solid #999;
  &.bio-query {
    background-color: #0ff;
    border-radius: 4px;
    border: none;
  }
}
pre {
  border: 1px solid #999;
  border-radius: 4px;
  & > code {
    border: none;
  }
}
$table-cell-border-width: 0;
.card.search-input {
  max-width: 500px;
}

table.table {
  &.sortable {
    thead > tr > th {
      cursor: pointer;
      &:hover {
        opacity: .5;
      }
    }
  }
  &.small-font {
    td, th  {
      font-size: 10px;
    }
  }
  thead {
    td, th {
      border-width: 2px 0 !important
    }
  }
  tbody {
    tr {
      &.is-expanded {
        td {
          .expand-content {
            display: block;
          }
          .expand-button ion-icon {
            transform: rotate(180deg);
            transition: .35s;
          }
        }
      }
      td {
        .expand-content {
          display: none;
        }
        .expand-button ion-icon {
          transition: .35s;
        }
      }
    }
  }
}

div.separator {
  border-top: 1px solid $text;
}

span.icon {
  &.open {
    transform: rotate(-180deg);
    transition: .35s;
  }
    transition: .35s;
}

@import "../../node_modules/bulma/sass/base/all";
@import "../../node_modules/bulma/sass/utilities/all";
@import "../../node_modules/bulma/sass/components/navbar";
@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/elements/content";
@import "../../node_modules/bulma/sass/elements/icon";
@import "../../node_modules/bulma/sass/elements/image";
@import "../../node_modules/bulma/sass/elements/notification";
@import "../../node_modules/bulma/sass/elements/other";
@import "../../node_modules/bulma/sass/elements/table";
@import "../../node_modules/bulma/sass/elements/title";
@import "../../node_modules/bulma/sass/form/all";
@import "../../node_modules/bulma/sass/grid/all";
@import "../../node_modules/bulma/sass/helpers/all";
@import "../../node_modules/bulma/sass/layout/footer";
@import "../../node_modules/bulma/sass/layout/section";
@import "../../node_modules/bulma/sass/helpers/flexbox";
@import "../../node_modules/bulma/sass/helpers/visibility";

@import "../../node_modules/bulma/bulma";
@import '../../node_modules/@creativebulma/bulma-collapsible';

.custom-accordion {
  .message {
    margin-bottom: .5rem;
  }
  .message a, .message a.message-header {
    color: $link !important;
    font-weight: normal;
  }
  .message-header {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    &.is-active {
      border-radius: 4px 4px 0 0;
    }
  }
  .message-body {
    border-width: 0;
    background-color: $body-background-color;
    &.is-active {
      border-width: 0 1px 1px;
      border-radius: 0 0 4px 4px;
    }
  }
}

.color-primary {
  color: $primary !important;
}
.color-link {
  color: $link !important;
}

.download-button {
  color: $link;
  border: 2px solid $link;
  padding: 35px 20px;
  border-radius: 5px;
  &:hover {
    background-color: $link;
    color: $background;
  }
}

figure.image {
  &.rounded-border img {
    border-radius: 5px;
  }
  &.is-150x150 {
    height: 150px !important;
    width: 150px !important;
  }

  &.no-responsive > img {
    width: unset !important;
  }
}


.control.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: .25rem;
}
.has-text-uppercase {
  text-transform: uppercase;
}

#creativecommons {
  font-size: .75rem;
  display: none;
  &.is-open {
    display: block;
  }
}

.near-columns {
  .column {
    padding-bottom: 0 !important;
  }
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  .tooltip-content {
    visibility: hidden;
    width: max-content;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #acacac;
    color: $text;
    border-radius: 2px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
  }
  &:hover .tooltip-content {
    visibility: visible;
    .tooltip-header {
      background-color: #f5f5f5;
    }
    .tooltip-header, .tooltip-body {
      padding: 10px;
    }
  }
}
a.image.cc {
  width: 80px;
}

#notifications {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  & > .notification {
    margin-top: 15px;
  }
}

.cookie-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 2rem;
  background: rgba(0, 0, 0, .9);
  @include desktop {
    display: flex;
  }
  .left {
    margin: 5px 0;
    flex: 1;
  }
  .right {
    width: 200px;
    margin: 5px 0;
  }
}

.archived-link > a.external-link {
  margin-left: 0.5rem;
}

.toggle-button {
  padding: 5px !important;
  font-size: 0.6rem !important;
}
label.label.not-default {
  width: fit-content;
  background-color: #f0eab9;
}

.is-relative {
  position: relative;
}
.top-anat-species {
  height: 60px !important;
  width: 70px !important;
  margin-left: auto;
  margin-right: auto;
}

.gene-species {
  width: 500px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2);
  }
}

.go-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff !important;
  border-width: 3px;
  &:hover, &:active, &:focus {
    color: $primary !important;
  }
}
.dot-line {
  border-top: 2px dotted $primary;
  width: 2rem;
}