@charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: .9rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


$dark-color: #ffffff;
$dark-bg-color: #333333;
$dark-bg-hover-color: #555555;

$desktop: 1090px;

/*
 * navbar style
 */
@import "../../node_modules/bulma/sass/utilities/derived-variables";
$custom-colors: ("bgee-inverted": ($dark-bg-color, $dark-color));
$colors: map-merge($colors, $custom-colors);

@media only screen and (max-width: $desktop) {
  $navbar-background-color: $dark-bg-color;
  $navbar-item-color: $dark-color;
  $navbar-dropdown-arrow: $dark-color;
  .navbar {
    .navbar-burger:hover {
      color: $dark-color !important;
    }
    img.logo {
      width: 99px;
      max-width: 99px;
      height: 40px;
      max-height: 40px;
    }
    .navbar-link:hover, .navbar-link.active {
      background-color: $dark-bg-hover-color;
      color: $dark-color;
    }
    .custom.navbar-item {
      color: #aaaaaa !important;
      &:hover {
        background-color: $dark-color;
        color: $dark-bg-color;
      }
    }

    .navbar-dropdown {
      display: none;
      &.open {
        display: block;
      }
    }
  }
}

/*
 * END navbar style
 */

$footer-background-color: $dark-bg-color;
$footer-color: $dark-color;
$footer-padding: 1rem;

footer.footer {
  .left-wrapper a:not(:first-child) {
    margin-left: 15px;
  }
  .right-wrapper a:not(:last-child) {
    margin-right: 15px;
  }
  a {
    color: #ffffff;
    &.image {
      position: relative;
      height: 15px;
      img {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &.bgee-cc {
          height: 15px;
          width: 80px;
          max-width: 80px;
        }
      }
    }
  }
}
@media only screen and (max-width: $desktop) {
  footer.footer {
    & > div {
      flex-direction: column;
      justify-content: normal !important;
    }
    .left-wrapper, .right-wrapper {
      display: flex;
      flex-direction: column;
    }

    .left-wrapper a:not(:first-child) {
      margin-left: 0;
      margin-top: 10px;
    }
    .right-wrapper a {
      margin-top: 10px;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

$title-color: #e2011b;

.notification {
  margin-bottom: 0 !important;
}

div.static-section > *:not(:first-child) {
  margin-top: .7rem;
}
.title.gradient-underline {
  margin: 1rem 0 !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px #e2011b solid;
  -webkit-border-image: linear-gradient(to right, $title-color 70%,rgba(146,2,9,0));
  border-image: linear-gradient(to right, $title-color 70%,rgba(146,2,9,0));
  border-image-slice: 1;
}

$link: #920209;
a.internal-link, a.external-link, a.mail-link {
  text-decoration: underline;
}
a.external-link {
  background-position: right center;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent,transparent),url(../assets/img/external_link.png);
  background-size: 9px;
  padding-right: 13px;
}


ul.unordered {
  list-style-type: disc;
}
ol.ordered, ul.unordered {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
  li:not(:first-child) {
    margin-top: 10px;
  }
}

@import "../../node_modules/bulma/sass/base/all";
@import "../../node_modules/bulma/sass/utilities/all";
@import "../../node_modules/bulma/sass/components/navbar";
@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/elements/content";
@import "../../node_modules/bulma/sass/elements/notification";
@import "../../node_modules/bulma/sass/elements/other";
@import "../../node_modules/bulma/sass/elements/title";
@import "../../node_modules/bulma/sass/helpers/all";
@import "../../node_modules/bulma/sass/layout/footer";
@import "../../node_modules/bulma/sass/layout/section";
@import "../../node_modules/bulma/sass/helpers/flexbox";
@import "../../node_modules/bulma/sass/helpers/visibility";

//@import "../../node_modules/bulma/sass/elements/all";
//@import "../../node_modules/bulma/bulma";
