.rowSearch:hover {
  background-color: #f7f8fa;
  color: #e2011b;
  font-weight: bold;
}
.dropDownSearchForm {
  overflow-y: scroll;
  max-height: 15rem;
  border: 1px solid lightgrey;
  width: 90%;
  padding: 0.5rem;
  position: absolute;
  z-index: 9;
  top: 56%;
  background-color: white;
}
