.title-form {
  color: lightseagreen;
}

.submit-reinit {
  margin-top: 50px;
  float: right;
}

.submit {
  background-color: blue;
}

.reinit {
  margin-left: 10px;
}

.exp-assay {
  width: 10px;
  float: right;
}

.search-form {
  align-items: center;
}

.categorie {
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
}

.cat-child {
  margin-right: 2%;
  border-radius: 50px;
  div {
    border-radius: 20px;
  }
}
