@import '../../styles/mixinScrollBar.scss';

.content {
  margin-bottom: 0 !important;
}

.result {
  display: flex;
  align-content: space-around;
  flex-direction: column;
}

.render {
  display: flex;
}

.span-x {
  display: flex !important;
  margin-left: 4px;
  color: red;
  cursor: pointer;
}

.react-select__value-container {
  @include scrollbars(0.3rem, #ed2e24);
  max-height: 4.4rem;
  overflow-y: auto !important;
}

.react-select__placeholder {
  color: #bbbbbb !important;
}

.react-select__option {
  cursor: pointer !important;
}

.react-select__option--is-selected {
  background-color: rgba(237, 46, 36, 0.1) !important;
  // background-color: #deebff !important;
  input {
    accent-color: rgba(237, 46, 36, 1);
  }
}

.checkboxLabel {
  margin-left: 6px;
  color: #626262 !important;
}
